/*MEDIA QUERY */
@media  (max-width:600px) {
    .background-textos {
        padding: 20px;
    }
    .titulo-principal {
        font-size: 40px;
        margin-left: 10px;
    }
    .subtitulo {
        font-size: 17px;
        margin-left: 50px;
    }
    .background_options {
        height: auto;
        flex-direction: column;
    }
    .titulo-sobre {
        font-size: 21px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 2px;
        margin-top: -6px;
         color: rgb(236, 236, 236);
         text-align: center;
    }
    #geral{
        padding: 50px;
        padding-top: 10px;
        margin-bottom: -90px;
    }
    #contato{
        padding: 15px;
    }
    .container {
        flex-direction: column;
    }
    .header .container {
        flex-direction: row;
    }
    .menu-lista {
        flex-direction: column;
        display: none;
        position: absolute;
        width: 100px;
        border-radius: 20px;
        right: 2px;
        top: 65px;
        background-color: black;
    }
    .header {
        height: auto;
        width: auto;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -10px;
        top: -19px;
        justify-content: space-around;
    }
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    footer picture {
        visibility: hidden;
    }
    #contato_imagem {
        display: flex;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 190px;
        width: 0px;
        height: 0px;
}
}