@charset "UTF-8";
* {
    box-sizing: border-box;
}
/* ALGUNS PADRÕES */
body {
    background-color: rgba(0, 0, 0, 0.979);
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.column {
    flex-direction: column;
}
#geral {
    display: flex;
    justify-content: center;
}
#projetos {
    flex: 2;
}
#contato {
    flex: 1;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
/* ANIMAÇÕES */
.animation {
    transition: 2.3s;
    transform: rotate(360deg);
}
/* CABEÇALHO E MENU */
.header {
    display: flex;
    justify-content: center;
    height: 60px;
}
.menu {
    display: flex;
    align-items: center;
    margin: auto;
}
.menu-lista { 
    display: flex;
}
.menu-lista, .menu-item {
 list-style: none;
 margin: 0;
 padding: 0;
}
.menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-decoration: uppercase;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    border-radius: 15px;
}
.menu-link:hover {
    background-color: #3FA69B;;
    color: white;
    transition: 0.5s ease-in-out;
}
/* SECTION DO BACKGROUND */
#background {
    display: flex;
    justify-content: center;
    background-image: url("../imagens/paisagem4.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}
.background-textos {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-principal {
    margin-left: -15px;
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
     color: rgb(236, 236, 236);
     margin-bottom: 5px;
}
.subtitulo {
        margin-top: 1px;
        margin-left: 4px;
        font-family: 'Rubik', sans-serif;
        color: rgba(226, 225, 225, 0.707);
        letter-spacing: 2px; 
        font-size: 1.9em;
}
.background_options {
    height: 100px;
    display: flex;
    width: 450px;
    margin: auto;
}
/*SECTION DO SOBRE MIM E DESCRIÇÃO */
.quadrado_sobre{
    flex: 1;
    padding: 8px;
    background-color: rgba(12, 12, 12, 0.765);
    color: #e7e7e7;
}
.quadrado_sobre:hover {
    color: #080808;
    transition: 1.8s;
}
.titulo-sobre {
    font-size: 21px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2px;
    margin-top: -6px;
    text-align: center;
}
.descricao {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    margin-top: 0px;
    font-weight: normal;
}
/* SECTION DOS PROJETOS/CONTATO */
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.titulo-padrao {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #02c4b1;
    margin-top: 10px;
}
.bar {
    width: 350px;
    height: 1px;
    background-color: #3FA69B;
    margin-top: 15px;
}
/*SECTION PROJETOS */
.projetos-descricao {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
.corpo_projetos {
    display: flex;
}
.projeto_titulo {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    background-color: rgb(49, 47, 47);
    padding: 10px;
    margin-right: 2px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.projeto_titulo:hover {
    background-color: #080808;
    color: #23cebd;
}
.projeto_thumb {
    margin-top: 20px;
}
.projeto_thumb img {
    width: 100%;
    height: auto;
}
.projeto_thumb > .img_projeto1 {
    width: 250px;
}
.projeto_thumb > .img_projeto2 {
    width: 250px;
}
.projeto_thumb > .img_projeto3 {
   width: 250px;
}
.projeto_resume {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #909090;
    line-height: 20px;
    margin-bottom: 30px;
    width: 250px;
}
.projeto_resume a {
    font-family: 'Rubik', sans-serif;
    color: #909090;
}
.projetos-descricao a {
    text-decoration: none;
}
.projetos-descricao:hover {
    transform: scale(1.06);
}
/*ASIDE CONTATO */
.widget-titulo{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.contato {
    margin-top: 16px;
    color: white;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}
.links {
    color: #59b5f3d0;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
.links:hover {
    color: #e7e7e7;
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}
.imagens_contato {
    width: 25px;
    height:25px;
    margin-bottom: -10px;
}
/*BOTÃO DE SUBIR TELA */
.subir {
    border-radius: 20px;
    width: 30px;
    height: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    background-color: #3FA69B;
    color: white;
    cursor: pointer;
    display: none;
}
.subir span {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* RODAPÉ */
footer {
    background-color: black;
}
.footer_area {
    display: flex;
    justify-content: center;
}
.flexColumn {
    flex-direction: column;
}
.footer_copy {
    display: flex;
    justify-content: center;
    line-height: 40px;
    color: #909090;
    font-size: 13px;
}
.footer_copy p {
    font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}
.footer_copy a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.footer_copy a:hover {
    color: #35cfbf;
    transition: 0.5s ease-in-out;
}
footer picture {
   position: absolute;
   right: 10px;
   top: 13px;
}
/* MENU RESPONSIVO */
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    cursor: pointer;
}
.mm_line {
    height: 3px;
    background-color: white;;
}