@charset "UTF-8";
* {
    box-sizing: border-box;
}
*:hover {
    transition: 1.2s ease-in-out;
}
/* ALGUNS PADRÕES */
body {
    background-color: #000000fa;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
}
/* CABEÇALHO E MENU */
.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.menu {
    margin-top: 10px;
}
.menu-lista { 
    display: flex;
}
.menu-lista, .menu-item {
 list-style: none;
}
.menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-decoration: uppercase;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}
.menu-link:hover {
    background-color: #3FA69B;;
    color: white;
}
/* SECTION DO BACKGROUND */
.background {
    background: url('../imagens/paisagem4.jpg') center / cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
}
.background_titulos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
}
.titulo-principal {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
     color: #ececec;
     margin-bottom: 5px;
}
.subtitulo {
        font-family: 'Rubik', sans-serif;
        color: #e2e1e1b4;
        letter-spacing: 2px; 
        margin: 0 60px;
}
/*SECTION DO SOBRE MIM E DESCRIÇÃO */
.sobre {
    height: 100px;
    width: 450px;
    margin: 0 auto;
}
.quadrado_sobre{
    padding: 8px;
    background-color: #0c0c0cc3;
    color: #e7e7e7;
}
.titulo-sobre {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
}
.descricao {
    font-family: 'Rubik', sans-serif;
    color: #ccc;
    font-size: .9rem;
    font-weight: normal;
    margin-top: 10px;
}
/* SECTION SKILLS */
.sobre_skills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.skills_quadrado {
    display: flex;
}
.titulo_skills {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #f4f4f4;
    margin: 30px 0;
}
.quadrado {
    padding: 10px;
    margin-left: 20px;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: #0e0d0d;
}
.quadrado:hover {
    transform: scale(1.5);
}
.quadrado_titulo {
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}
/* SECTION DOS PROJETOS */
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.projetos_body {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}
.section_projetos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-padrao {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff; 
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #02c4b1;
    margin-top: 10px;
}
.bar {
    width: 350px;
    height: 1px;
    background-color: #3FA69B;
    margin-top: 15px;
}
.projetos_article {
    flex: 1;
    margin-bottom: 40px;
}
.corpo_projetos {
    display: flex;
}
.projeto_titulo {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
}
.projeto_titulo:hover {
    background-color: #080808;
    color: #23cebd;
}
.btn {
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}
.btn1 {
    background-color: #02c4b1;
    color: black;
}
.btn2 {
    background-color: black;
    color: white;
    border: 2px solid #02c4b1;
}
.btn1:hover {
    background-color: black;
    color: white;
    border: 2px solid #02c4b1;
}
.btn2:hover {
    background-color: #02c4b1;
    color: black;
}
.projeto_thumb {
    margin-top: 10px;
}
.imagens_projeto {
    border-radius: 5px;
    height: 110px;
    width: 100%;
}
.projeto_resume {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #909090;
    line-height: 20px;
    margin-bottom: 30px;
    width: 300px;
}
.imagens_projeto:hover {
    transform: scale(1.5);
    margin: 20px;
}
/* FORMULARIO */
.formulario {
    margin: 50px 0;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.descricao_form {
    color: #ccc;
    font-weight: 100;
    font-size: .9rem;
    margin-bottom: 20px;
    margin-top: 8px;
}
.form {
    display: flex;
    flex-direction: column;
}
.input_label {
    font-family: 'Rubik', sans-serif;
    color: #f4f4f4;
    font-size: 1rem;
    font-weight: bold;
}
.input {
    border: 2px solid #02c4b1;
    border-radius: 3px;
    margin: 15px 0;
    height: 40px;
}
.input:hover {
    border-color: red;
}
.input.mensagem {
    height: 80px;
}
.btn_contato {
    border: none;
    border-radius: 5px;
    background-color: #02c4b1;
    height: 50px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}
.btn_contato:hover {
    background-color: black;
    color: white;
    border: 2px solid #02c4b1;
}
/*Mensagens erro*/
.input-container--invalido {
    margin: 20px 0;
    color: red;
}
/* RODAPÉ */
.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.footer_copy {
    line-height: 40px;
    color: #909090;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.footer_copy a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.footer_copy a:hover {
    color: #35cfbf;
}
/* MENU RESPONSIVO */
.menuMobile {
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    cursor: pointer;
}
.mm_line {
    height: 3px;
    background-color: white;;
}
/*BOTÃO DE SUBIR TELA */
.subir {
    border-radius: 20px;
    width: 30px;
    height: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    background-color: #3FA69B;
    color: white;
    cursor: pointer;
    display: none;
}
.subir span {
    display: flex;
    justify-content: center;
    align-items: center;
}