@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 0, 0.979);
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    height: 60px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.menu {
    display: flex;
    align-items: center;
    margin: auto;
    
}
nav ul, nav li {
 list-style: none;
 margin: 0;
 padding: 0;
}
nav ul { 
    display: flex;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-decoration: uppercase;
    color: white;
    font-family: 'Rubik', sans-serif;
    border-radius: 15px;
}
nav a:hover {
    background-color: #3FA69B;;
    color: white;
}
#background {
    display: flex;
    justify-content: center;
    background-image: url("../imagens/espaco1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.background_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background_headline h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
     color: rgb(236, 236, 236);
     margin-bottom: 5px;
     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.83);
}
.background_headline h2 {
        margin-top: 2px;
        margin-left: 65px;
        font-family: 'Rubik', sans-serif;
        color: rgba(226, 225, 225, 0.707);
        letter-spacing: 2px; 
        text-shadow: 1px 1px 1px rgba(14, 14, 14, 0.83);
        font-size: 1.9em;
}
.background_options {
    height: 100px;
    display: flex;
    width: 450px;
    margin: auto;
}
.quadrado_sobre{
    flex: 1;
    padding: 8px;
    background-color: #3fa69cc3;
}
.quadrado_sobre_title {
    font-size: 21px;
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2px;
    margin-top: -6px;
    color: #e7e7e7;
    text-align: center;
}
.quadrado_sobre_desc {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 0px;
    font-weight: 600;
    color: #e7e7e7;
}
.quadrado_sobre_desc a {
    text-decoration: none;
    color: #e7e7e7;
}
.quadrado_sobre_desc a:hover {
    color: #050505;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #3FA69B;
    margin-top: 10px;
}
.widget_body {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article .corpo_projetos {
    display: flex;
}
article .projeto_titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;
    background-color: #3FA69B;;
    padding: 10px;
    margin-right: 2px;
    border-radius: 15px;
}
article .projeto_titulo:hover {
    background-color: #080808;
    color: #23cebd;
}
article .projeto_thumb {
    margin-top: 20px;
}
article .projeto_thumb img {
    width: 100%;
    height: auto;
}
.projeto_thumb > .img_projeto1 {
    width: 300px;
}
.projeto_thumb > .img_projeto2 {
    width: 250px;
}
.projeto_thumb > .img_projeto3 {
   width: 250px;
}
.projeto_thumb > .img_projeto4 {
    width: 250px;
}
article .projeto_title {
    font-family: 'Rubik', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    font-size: 23px;
}
article .projeto_resume {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #909090;
    line-height: 20px;
    margin-bottom: 30px;
}
.projeto_resume a {
    font-family: 'Poppins', sans-serif;
    color: #909090;
}
article a {
    text-decoration: none;
}   
.bar {
    width: 350px;
    height: 1px;
    background-color: #3FA69B;
    margin-top: 15px;
}
.contato {
    margin-top: 15px;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contato a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contato a:hover {
    color: rgb(48, 91, 193);
    text-decoration: underline;
}
.imagens_contato {
    width: 25px;
    height:25px;
    margin-bottom: -10px;
}
.voltar_topo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 35px;
    height: 25px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    background-color: #3FA69B;
    color: white;
    cursor: pointer;
    visibility: hidden;
}
.voltar_topo.visible {
    visibility: visible;
}
footer {
    background-color: black;
    font-family: 'Rubik', sans-serif;
}
.footer_area {
    display: flex;
    justify-content: center;
}
.flexColumn {
    flex-direction: column;
}
.footer_copy {
    display: flex;
    justify-content: center;
    line-height: 40px;
    color: #909090;
    font-size: 13px;
}
.footer_copy p {
   margin: 0;
   padding: 0;
}
.footer_copy a {
    color: white;
    text-decoration: none;
}
.footer_copy a:hover {
    text-decoration: underline;
    color: #3FA69B;
}
footer picture {
   position: absolute;
   right: 10px;
   top: 13px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    cursor: pointer;
}
.mm_line {
    height: 3px;
    background-color: white;;
}
@media  (max-width:600px) {
    .background_headline {
        padding: 20px;
    }
    .background_headline h1{
        font-size: 40px;
    }
    .background_headline h2 {
        font-size: 17px;
        margin-left: 80px;
    }
    .background_options {
        height: auto;
        flex-direction: column;
    }
    .quadrado_sobre_title {
        font-size: 21px;
        font-family: 'Rubik', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 2px;
        margin-top: -6px;
         color: rgb(236, 236, 236);
         text-align: center;
    }
    #geral section{
        padding: 50px;
        padding-top: 10px;
        margin-bottom: -90px;
    }
    #geral aside {
        padding: 15px;
    }
    .container {
        flex-direction: column;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        width: 100px;
        border-radius: 20px;
        right: 2px;
        top: 65px;
        background-color: black;
    }
    header {
        height: auto;
        width: auto;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -10px;
        top: -19px;
        justify-content: space-around;
    }
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    footer picture {
        position: absolute;
        top: 2582px;
        margin: 5px;
    }
    #contato_imagem {
        display: flex;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 190px;
        width: 0px;
        height: 0px;
}
}